<div class="field-wrapper" *ngFor="let item of sessionData.controls">
  <div
    *ngIf="!sessionData?.menteeForm?.includes(item.title) || (sessionData?.menteeForm?.includes(item.title)&&!isMentor)">
    <p class="session-detail-heading">{{item.title | translate }}</p>
    <div *ngIf="isArray(sessionData.data[item.key]); else elseBlock">
      <ng-container *ngIf="sessionData.data[item.key].length > 0; else noData">
        <ion-chip outline="true" class="ion-margin-top break-word" *ngFor="let chip of sessionData.data[item.key]">
          <ion-label>{{ chip?.label ? chip.label : (('NOT_UPDATED_MSG' | translate)) }}</ion-label>
        </ion-chip>
      </ng-container>
      <ng-template #noData>
        <p class="value">{{ 'NOT_UPDATED_MSG' | translate }}</p>
      </ng-template>
    </div>
    <ng-template #elseBlock>
      <p *ngIf="item?.key=='duration';else elseBlock2" class="value">{{sessionData.data.duration.hours}} {{"HOURS" |
        translate}} {{sessionData.data.duration.minutes}} {{"MINUTES" | translate}}</p>
    </ng-template>
    <ng-template #elseBlock2>
      <p *ngIf="item?.key=='startDate' || item?.key=='endDate';else elseBlock3" class="value">
        {{sessionData.data[item.key] | date:'MMM d, y, h:mm a'}}</p>
    </ng-template>
    <ng-template #elseBlock3>
      <div class="d-flex" *ngIf="item?.key=='mentee_count';else elseBlock4">
        <p class="mentee-count">{{sessionData.data[item.key] }}</p>
        <ion-button class="view-mentee-list" color="white" (click)="onClickViewList()">{{"VIEW_LIST" | translate}}</ion-button>
      </div>
    </ng-template>
    <ng-template #elseBlock4>
      <div *ngIf="item?.key=='mentor_name';else elseBlock5">
        <p class="break-word">{{sessionData.data[item.key]['label'] || sessionData.data[item.key]}}</p>
        <div>
          {{sessionData.data.mentor_designation}}
        </div>
      </div>
    </ng-template>
    <ng-template #elseBlock5>
      <p *ngIf="item?.key=='experience'" class="value">
        {{sessionData.data[item.key] ? sessionData.data[item.key] + ' ' + ('YEARS'|translate) : ('NOT_UPDATED_MSG' | translate)}}
        </p>
      <p *ngIf="item?.key!='experience'" class="value">
        <span>{{ sessionData.data[item.key]?.label ? sessionData.data[item.key].label : (sessionData.data[item.key] || ('NOT_UPDATED_MSG' | translate)) }} </span>
      </p>
    </ng-template>
  </div>
</div>
<div *ngIf="preResources.length > 0">
  <p class="session-detail-heading" style="margin: 0 10px;">{{ 'PRE_RESOURCES' | translate }}</p>
      <div style="display: flex; flex-direction: column; flex-wrap: wrap;">
            <div *ngFor="let resource of preResources" >
              <a 
                [href]="resource.link"
                target="_blank"
                class=" resource-content">
                         <ion-icon *ngIf="resource.mime_type?.includes('image')" name="image" class="icon-size" ></ion-icon>
                         <ion-icon *ngIf="resource.mime_type?.includes('pdf') || resource.mime_type?.includes('other') || resource.mime_type?.includes('application')"  name="document" class="icon-size"></ion-icon>
                         <ion-icon *ngIf="resource.mime_type?.includes('link')" name="link" class="icon-size"></ion-icon>
                         <ion-icon *ngIf="resource.mime_type?.includes('video')" name="videocam" class="icon-size"></ion-icon>
                          <div class=" truncate-text my-text">
                          {{ resource.name }}
                        </div>
              </a>
    </div>
    </div>
</div>
<div *ngIf="postResources.length > 0 && sessionData?.data?.status?.value === 'COMPLETED'">
  <p class="session-detail-heading" style="margin: 0 10px;">{{ 'POST_RESOURCES' | translate }}</p>
      <div>
            <div *ngFor="let resource of postResources" style="display: flex; flex-direction: column; flex-wrap: wrap;">
                <a 
                [href]="resource.link"
                target="_blank"
                class=" resource-content">
                         <ion-icon *ngIf="resource.mime_type?.includes('image')" name="image" class="icon-size" ></ion-icon>
                         <ion-icon *ngIf="resource.mime_type?.includes('pdf') || resource.mime_type?.includes('other') || resource.mime_type?.includes('application')"  name="document" class="icon-size"></ion-icon>
                         <ion-icon *ngIf="resource.mime_type?.includes('link')" name="link" class="icon-size"></ion-icon>
                         <ion-icon *ngIf="resource.mime_type?.includes('video')" name="videocam" class="icon-size"></ion-icon>
                          <div class=" truncate-text my-text">
                          {{ resource.name }}
                        </div>
              </a>
      </div>
      </div>
</div>
<ion-modal [isOpen]="isImageModalOpen" (ionModalDidDismiss)="closeImageModal()">
  <ng-template>
    <ion-content>
      <ion-icon  name="close-circle" (click)="closeImageModal()" class="close-icon-modal"></ion-icon>
      <ion-img [src]="selectedImageUrl" style="width: 100%; height: auto;"></ion-img>
    </ion-content>
  </ng-template>
</ion-modal>

